* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f5;
    background-image: url('loginbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.signup-box {
    background-color: white;
    padding: 40px;
    width: 60%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    width: 48%;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    justify-content: flex-start;
}

.skill-item {
    background-color: #0071e3;
    padding: 8px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex: 0 1 30%;
    color: white;
}

.skill-item .remove {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.warning {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

.signup-button {
    width: 100%;
    padding: 12px;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #005bb5;
}

.remove-resume {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: #e63946;
    padding: 2px 6px;
    border-radius: 50%;
    display: none;
}

.signin-text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    font-size: large;
}

.signin-text a {
    color: #0071e3;
    text-decoration: none;
}

.signin-text a:hover {
    text-decoration: underline;
}